{% extends 'base.html' %}
{% load static %}

{% block content %}
<form action="/review/{{review.id}}/update" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form">
    <div id="head"><div id="h_p">Movie</div> review</div>
    <input name="title" placeholder="제목" value="{{review.title}}"  /> <br/>
    <input name="year" placeholder="개봉연도" value="{{review.year}}"/> <br/>
    <input name="genre" placeholder="장르" value="{{review.genre}}" />
    <input name="star" placeholder="별점"  value="{{review.star}}"/>
    <input name="time" placeholder="러닝타임"  value="{{review.time}}"/>
    <textarea name="review" cols="30" rows="10" placeholder="리뷰" >{{review.review}}</textarea>
    <input name="director" placeholder="감독"  value="{{review.director}}" />
    <input name="actor" placeholder="배우" value="{{review.actor}}" />
    <div class="bottom">
    <input name="poster" type="file" />{{review.poster}}
      <input class="save" type="submit" value="save">
    </div>
  </div>
</form>

{% endblock %}